<header style="color: royalblue;">
  <div class="row">
    <div class="col align-self-center">
      <h1 class="container"><i><span>C</span>yber <span>I</span>nsurance</i></h1>
    </div>
  </div>
</header>

<div class="col w-50 h-100">
  section1
</div>
<div class="col w-50 h-100">
  <div class="row h-75">
    section2
  </div>
  <div class="row h-25">
    <div><img src="../assets/cyberlock.png" alt=""></div>
  </div>
</div>

<!-- <div class="container">
<div class="row">
  <div class="col align-self-start">
    One of three columns
  </div>
  <div class="col align-self-center">
    One of three columns
  </div>
  <div class="col align-self-end">
    One of three columns
  </div>
</div>
</div> -->
      <!-- <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
      <div class="col-6 col-sm-3">
        <div class="w-100 h-50"></div>
        
      </div> -->
    
      <!-- Force next columns to break to new line -->
      
    
     
      
    
  
