

<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
    <div class="col-6 details">
        <button *ngIf="showPersonalDetailsBtn" (click)="expandPersonalDetails()" class="btn btn-primary"><i>Personal Details</i></button>
        <button *ngIf="showAdditionalDetailsBtn" (click)="expandAdditionalDetails()" class="btn btn-primary"><i>Additional Details</i></button>
        <button *ngIf="showIncidentsHistoryBtn" (click)="expandIncidentHistory()" class="btn btn-primary"><i>Security Incidents & Loss History</i></button>
    </div>
        <div *ngIf="showPersonalDetails" style="font-size: 28px;">
            <form>
            <div class="row my-5">
                <div class="col-sm-3 form-details">
                    <input type="text" class="form-control" placeholder="Salutation">
                </div>
                <div class="col-sm-4 form-details">
                    <input type="text" class="form-control" placeholder="FirstName      LastName">
                </div>
                <div class="col-sm-4 form-details">
                    <!-- <input placeholder="Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.value == '' ? this.type='text' : this.type='date')" id="date"> -->

                    <input type="date" class="form-control" data-toggle="tooltip" data-placement="top" placeholder="DOB">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-5 form-details">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="offset-sm-1 col-sm-5 form-details">
                    <input type="text" class="form-control" placeholder="Send Me Quote At">
                </div>
                
            </div>
            <div class="row my-5">
                <div class="col-sm-5 form-details">
                    <input type="text" class="form-control" placeholder="SSN Number">
                </div>
                <div class="offset-sm-1 col-sm-5 form-details">
                    <input type="text" class="form-control" placeholder="Source of Income">
                </div>
                
            </div>
            <div class="row my-5 d-flex align-items-end flex-column">
                <div class="col-4">
                    <button style="font-size: 28px;" class="btn-primary form-action-btn" (click)="expandAdditionalDetails()">Done</button>
                </div>
                
            </div>
        </form>
        </div>
        <div *ngIf="showAdditionalDetails">
            <form>
                <div class="row my-5">
                  <div class="form-group col-md-5 form-details">
                    <label for="inputEmail4">Polcy Start Date</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="form-group col-md-5 form-details">
                    <label for="inputPassword4">Policy End Date</label>
                    <input type="date" class="form-control">
                  </div>
                </div>
                <div class="col-md-10">
                <p style="font-size: 28px;">
                    <span style="color:rgb(112,173,16);">Go Green</span> and Make a difference!! By chossing this option, only soft copy of Policy shall be delivered to your registered mail.
                </p>
            </div>
            <button class="btn btn-sm mx-2" style="background-color: rgb(112,173,16);color: white;">Yes</button>
            <button class="btn btn-danger btn-sm mx-2">No</button>
            <div class="row my-5 d-flex align-items-end flex-column">
                <div class="col-4">
                    <button style="font-size: 28px;" class="btn-primary form-action-btn" (click)="expandIncidentHistory()">Done</button>
                </div>
                
            </div>
            </form>

        </div>
        <div *ngIf="showIncidentsHistory">
            <div class="my-4" style="font-size:28px">
                <form action="">
                    <p style="font-size:28px">Select the options that are applicable to you</p>
                    <div class="custom-control custom-radio quote-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">My family's or my computer(s) / smart device(s) has been hacked before
                        </label>
                    </div>
                    <div class="custom-control custom-radio quote-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">My family or I have been a victim to online-fraud / defamation.
                        </label>
                    </div>
                    <div class="custom-control custom-radio quote-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3">My family or I have filed a complaint or law suit in the past due to invasion of privacy or misuse of PI.
                        </label>
                    </div>
                    <div class="custom-control custom-radio quote-radio">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio4">None of the above applies to my family or me.
                        </label>
                    </div>
                    <div class="row my-4 d-flex align-items-end flex-column">
                        <div class="col-4">
                            <button style="font-size: 28px;" class="btn-primary form-action-btn" (click)="detailsFilled()">Done</button>
                        </div>
                        
                    </div>
            </form>
            </div>
        </div>
        <div *ngIf="areDetailsFilled" class="row my-5 d-flex align-items-end flex-column">
            <div class="col-4">
                <button style="font-size: 28px;" class="btn-primary form-action-btn">Proceed</button>
            </div>
        </div>

