<div class="container-fluid">
    <h2 class="my-2"><b><i>Personal Details</i></b></h2>
    <hr>
    <form action="" class="quote-form">
        <div class="row">
           <div class="borders filling-input-group col-4 offset-md-1">
                <div class="form-group">
                    <div class="row">
                        <label class="label col text-end">Name</label>
                        <input class= "col" type="text" placeholder="Sashwat Bannick">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="label col text-end">Address</label>
                        <input class= "col" type="text" placeholder="Sashwat Bannick">
                    </div>
                </div>
           </div>
           <div class="borders filling-input-group col-4 offset-md-2">
            <div class="form-group">
                <div class="row">
                    <label class="col text-end">Name</label>
                    <input class= "col" type="text" placeholder="Sashwat Bannick">
                </div>
            </div>
            </div>      
        </div>        
    </form>
</div>
