.plan-info-content:hover{
    cursor: pointer;
    background-color: #FFE8B4;
}
.plan-info{

    font-style: italic;
    padding: 5px;
}
.plan-info-content{
    border: 2px solid rgb(0,80,126);
    border-radius: 40px;

}
.plan-info-content h2{
    font-weight: normal;
}

.plan-info-content h3, .plan-info-content h4{
    font-weight: bolder;
}

.coverage span{
    display: inline-block;
    transform: rotate(90Deg);
    font-weight: bolder;
}

.add-on{
    font-size: 28px;border:1px solid black; width: 50%;
    padding: 8px;
}
.add-on button{
    font-size: 28px;
}

.active{
    background-color: #FFE8B4 ;
}

.coverage{
    border : 1px solid;
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: black;
    border-color: #0d6efd;
}

.coverage:hover{
    cursor: pointer;
    background-color: #0d6efd;
    color: white;
}

.coverage span:hover{
    
}