<div class="container">
    <div class="row">
        <div id="plan1" class="plan-info my-3  col-3 text-center" (click)="clicked()">
            <div class="plan-info-content">
                <h2>Sum Insured</h2>
                <h3>$15,000</h3>
                <br>
                <h4>$550</h4>
                </div>
        </div>
        
        <div id="plan2" class=" plan-info my-3  col-3 text-center">
            <div class="plan-info-content">
                <h2>Sum Insured</h2>
                <h3>$15,000</h3>
                <br>
                <h4>$550</h4>
                </div>
        </div>

        <div id="plan3" class=" plan-info my-3  col-3 text-center">
            <div class="plan-info-content">
                <h2>Sum Insured</h2>
                <h3>$15,000</h3>
                <br>
                <h4>$550</h4>
                </div>
        </div>

        <div class=" plan-info my-3  col-3 text-center">
            <div class="plan-info-content">
                <h2>Sum Insured</h2>
                <h3>$15,000</h3>
                <br>
                <h4>$550</h4>
                </div>
        </div>
        
    </div>
    <div class="row my-4">
        <div class="p-3 mb-2 bg-secondary text-center text-white coverage" style="font-size: 28px;">View Coverage<span class="mx-4">></span></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="font-size: 28px;font-style: italic;">Select Add On To Cover</p>
                
                <button class="btn btn-primary btn-lg my-2" style="width: 50%; display: block;"><i class="bi bi-shield"></i> Malware <i class="bi bi-plus-circle"></i></button>
                <button class="btn btn-primary btn-lg my-2" style="width: 50%; display: block;"><i class="bi bi-shield"></i> Malware <i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="col">
            <p style="font-size: 28px;font-style: italic;">Selected Add-Ons</p>
            <div class="borders" style="height: 20px;">

            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col text-end">
             <button class="btn btn-outline-primary btn-lg" style="width:25%">Proceed</button>   
        </div>
    </div>
</div>